.dahboard__main__container{
    width: 80vw;
    height: 50vw;
    background-color: cornflowerblue;


}
.dashboard__filename{
    font-size: 25px;
    color: white;
text-align: left;
margin-left: 30px;
}